.ha-color-white {
  color: #000;
  background-color: #fff;
}

.ha-color-black {
  color: #fff;
  background-color: #000;
}

.ha-color-green {
  color: #fff;
  background-color: #8BC34A;
}

.ha-color-darkGreen {
  color: #ffffff;
  background-color: #689F38;
}
.ha-color-lightGreen {
  color: #212121;
  background-color: #DCEDC8;
}
.ha-color-accentGreen {
  color: #ffffff;
  background-color: #4CAF50;
}

.ha-color-red {
  color: #ffffff;
  background-color: #F44336;
}

.ha-color-lightRed {
  color: #000;
  background-color: #FFCDD2;
}

.ha-color-darkRed {
  color: #ffffff;
  background-color: #D32F2F;
}

.ha-color-accentRed {
  color: #ffffff;
  background-color: #FF4081;
}


.ha-color-grey {
  color: #000;
  background-color: #9E9E9E;
}

.ha-color-lightGrey {
  color: #000;
  background-color: #F5F5F5;
}

.ha-color-darkGrey {
  color: #ffffff;
  background-color: #616161;
}

.ha-color-accentGrey {
  color: #ffffff;
  background-color: #607D8B;
}


.ha-color-yellow {
  color: #000;
  background-color: #FFEB3B;
}

.ha-color-lightYellow {
  color: #000;
  background-color: #FFF9C4;
}

.ha-color-darkYellow {
  color: #000;
  background-color: #FBC02D;
}

.ha-color-accentYellow {
  color: #ffffff;
  background-color: #FF9800;
}


.ha-color-blue {
  color: #fff;
  background-color: #03A9F4;
}

.ha-color-lightBlue {
  color: #000;
  background-color: #B3E5FC;
}

.ha-color-darkBlue {
  color: #fff;
  background-color: #0288D1;
}

.ha-color-accentBlue {
  color: #ffffff;
  background-color: #448AFF;
}

.ha-color-orange {
  color: #000;
  background-color: #FF9800;
}
.ha-color-lightOrange {
  color: #000;
  background-color: #FFE0B2;
}
.ha-color-darkOrange {
  color: #fff;
  background-color: #F57C00;
}
.ha-color-accentOrange {
  color: #fff;
  background-color: #FFC107;
}
.ha-color-purple {
  color: #fff;
  background-color: #9C27B0;
}
.ha-color-lightPurple {
  color: #000;
  background-color: #E1BEE7;
}
.ha-color-darkPurple {
  color: #fff;
  background-color: #7B1FA2;
}
.ha-color-accentPurple {
  color: #fff;
  background-color: #7C4DFF;
}