.ha-color-white {
  color: #000;
  background: #fff;
}

.ha-color-black {
  color: #fff;
  background: #000;
}

.ha-color-primary {
  color: #fff;
  background: #8BC34A;
}

.ha-color-darkPrimary {
  color: #ffffff;
  background: #689F38;
}
.ha-color-lightPrimary {
  color: #212121;
  background: #DCEDC8;
}
.ha-color-accentPrimary {
  color: #ffffff;
  background: #4CAF50;
}

.ha-color-red {
  color: #ffffff;
  background: #F44336;
}

.ha-color-lightRed {
  color: #000;
  background: #FFCDD2;
}

.ha-color-darkRed {
  color: #ffffff;
  background: #D32F2F;
}

.ha-color-accentRed {
  color: #ffffff;
  background: #FF4081;
}


.ha-color-grey {
  color: #000;
  background: #9E9E9E;
}

.ha-color-lightGrey {
  color: #000;
  background: #F5F5F5;
}

.ha-color-darkGrey {
  color: #ffffff;
  background: #616161;
}

.ha-color-accentGrey {
  color: #ffffff;
  background: #607D8B;
}


.ha-color-yellow {
  color: #000;
  background: #FFEB3B;
}

.ha-color-lightYellow {
  color: #000;
  background: #FFF9C4;
}

.ha-color-darkYellow {
  color: #000;
  background: #FBC02D;
}

.ha-color-accentYellow {
  color: #ffffff;
  background: #FF9800;
}


.ha-color-blue {
  color: #fff;
  background: #03A9F4;
}

.ha-color-lightBlue {
  color: #000;
  background: #B3E5FC;
}

.ha-color-darkBlue {
  color: #fff;
  background: #0288D1;
}

.ha-color-accentBlue {
  color: #ffffff;
  background: #448AFF;
}